{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "prettier",
    "import",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "prettier/prettier": "error",
    "camelcase": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": 0,
    "import/no-unresolved": "error",
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    "no-shadow": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "jsx-quotes": ["warn", "prefer-double"],
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-max-props-per-line": ["warn", { "maximum": 1, "when": "multiline" }],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "no-use-before-define": [
      0,
      {
        "functions": false
      }
    ],
    "react/require-default-props": [0],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "react/jsx-props-no-spreading": [
      "off",
      {
        "html": "ignore",
        "custom": "ignore",
        "exceptions": []
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          ":": "before",
          "?": "before"
        }
      }
    ],
    "prefer-promise-reject-errors": "off",
    "no-nested-ternary": "off",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "no-lonely-if": "off",
    "no-alert": "off",
    "jsx-a11y/img-redundant-alt": "off"
  }
}